/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */



.login-card {
    background-color: var(--light-container);
    width: 25em;
    height: 28em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    padding: 3em;
    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    
  }
  

.login-header {
    display:flex; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    
    
}

.login-header .h1{
    color:var(--light-primary);
    align-items: center;
    font-size: medium;
    font-weight: 200;
    font-family: inter;font-family: 'Inter', sans-serif;
    margin-top: 35px;
}

.login-header .login-logo {
    margin-right: 30px; /* Add some space between the image and heading */
    margin-left: 10px;
    margin-top: 20px;
    
    
}

.login-form-items {
    margin-bottom: 3px;
}

label {
    display: block; 
    
    
}
.login-email,.login-password{
    text-align: left;
    font-size: large;
    
}

input {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    box-shadow: inset;
    border-radius: 5px;
    border: none;
    margin-bottom: 38px;
    
}
.login-button{
    position:fixed;
    top:32em;
    right: 13.5em; /*position fixed for login button*/
    width:30%;
    background-color: var(--light-container-accent);
    color: white;
    cursor:pointer;
    
   
}

.login-button:hover{
    filter: brightness(2.0);
    
}

.login-error{
    color: red;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.divider {
    border: none;
    height: 3px;
    background-color: var(--light-container-accent); /* Adjust the color based on your preferred color variable */
    margin: 16px; /* Adjust the margin as needed */
  }