* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



.login-card {
    background-color: rgb(200, 230, 255);
    width: 30em;
    height: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    padding: 3em;
    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    
  }
  

.login-header {
    display:flex; 
    margin-bottom: 2em;
    margin-left: 20px;
    
    
}

.login-header .h1{
    color:rgb(0,101,144);
    font-size: large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.login-header .login-logo {
    margin-right: 10px; /* Add some space between the image and heading */
    margin-left: 60px;
    
    
}

.login-form-items {
    margin-bottom: 30px;
}

label {
    display: block; 
    
    
}
.login-email,.login-password{
    text-align: left;
    font-size: large;
    
}

input {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    box-shadow: inset;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    
}
.login-button{
    position:fixed;
    top:32em;
    right: 14em; /*position fixed for login button*/
    width:20%;
    background-color: rgb(0,101,144);
    color: white;
    cursor:pointer;
    
   
}

.login-button:hover{
    filter: brightness(1.2);
    
}

.login-error{
    color: red;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}