/* styles.css */

  

.block {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    align-items: center;
    margin: 50px;
    margin-top: 0px;
    background-color: rgb(69,69,69);
    padding:10px;
    z-index: 1;
    border-radius: 5px;
  }

  .block.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .block img {
    max-width: 500px; /* Ensure the image does not exceed the container width */
    margin-right: 20px; /* Adjust the margin as needed */
    border-radius: 5px;
  }

  .block video {
      margin-right: 20px; /* Adjust the margin as needed */
      border-radius: 5px;
      max-width: 700px;
      max-height: 700px;
      object-fit: cover; /* Maintain aspect ratio and cover the container */
      transition: opacity 0.3s ease; /* Add a smooth transition effect */

    }

  .block video:hover {
      opacity: 0.8; /* Reduce opacity on hover for a subtle effect */
    }
    
  .block-content {
    flex: 1; /* Take up remaining space */
  }
  
  .block h1 {
    margin-bottom: 20px; /* Adjust the margin as needed */
    color: #ffffff;
    font-family: popins;
  }
  
  .block p {
    /* Add any additional styles for the paragraph */
    font-size: 18px;
    color: #ffffff;
    font-family: nunito;
    
  }

  .video-container {
    max-width: 100%; /* Ensure the video container is responsive */
    overflow: hidden; /* Hide any overflowing content */
    border-radius: 8px; /* Add rounded corners if desired */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  