.card {
    background-color: rgb(200, 230, 255);
    width: 30em;
    height: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    padding: 3em;
    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    
  }
  

.header {
    display:flex; 
    margin-bottom: 2em;
    margin-left: 20px;
    
    
}

.h1{
    color:rgb(0,101,144);
    font-size: large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;

}

.logo {
    margin-right: 30px; /* Add some space between the image and heading */
    margin-left: 70px;
}

.form-items {
    margin-bottom: 30px;
}

label {
    display: block; 
    
    
}
.email,.password{
    text-align: left;
    font-size: large;
    
}

input {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    box-shadow: inset;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    
}
.button{
    position: absolute;
    top:34em;
    right: 18em; /*position fixed for login button*/
    width:20%;
    background-color: rgb(0,101,144);
    color: white;
    cursor:pointer;
    
   
}

.button:hover{
    filter: brightness(1.2);
    
}

.error{
    color: red;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}