/* Card.css */

.card {
  margin-bottom: 3vh;
  margin-left: 3vw;
}

.icon-box {
  background: rgba(255, 252, 252, 0.555);
  padding: 1.5vw; /* Adjust padding for smaller screens */
  text-align: center;
  border-radius: 2vw; /* Adjust border radius for smaller screens */
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1); /* Adjust box shadow for smaller screens */
  transition: transform 0.3s ease-in-out;
  margin-left: 2ch;
  margin-bottom: 2vh;
  width: 25vw; /* Adjust width for smaller screens */
  height: 25vh; /* Adjust height for smaller screens */
}

.icon {
  font-size: 3vw; /* Adjust font size for smaller screens */
  color: #43c3e6; /* Adjust the icon color as needed */
}

.icon-box h4 {
  font-size: 1.5vw; /* Adjust font size for smaller screens */
  font-weight: bold;
  margin: 1.5vh 0; /* Adjust margin for smaller screens */
  color: var(--primary-accent);
  font-family: Poppins, sans-serif;
}

.icon-box p {
  font-size: 1.6vw; /* Adjust font size for smaller screens */
  color: #ffffff;
  font-family: Nunito;
}

.icon-box:hover {
  transform: translateY(-0.5vh); /* Adjust transform for smaller screens */
}
