/* App.css */
:root {
    /* Light theme color palette */
    --primary: #006590;
    --primary-accent: #FFFFFF;
    --container: #C8E6FF;
    --container-accent: #001E2E;
    --error: #BA1A1A;
    --error-accent: #410002;
    --bg: #FAFCFF;
    --bg-accent: #001F2A;
    --f:black;
    --f-accent:white;
  
    /* Dark theme color palette */
    --dark-primary: #88CEFF;
    --dark-primary-accent: #00344D;
    --dark-container: #004C6D;
    --dark-container-accent: #C8E6FF;
    --dark-error: #FFB4AB;
    --dark-error-accent: #690005;
    --dark-bg: #001F2A;
    --dark-bg-accent: #BFE9FF;
    --dark-f:white;
    --dark-f-accent:black;
  }
  
  body[data-theme="dark"] {
    --primary: var(--dark-primary);
    --primary-accent: var(--dark-primary-accent);
    --container: var(--dark-container);
    --container-accent: var(--dark-container-accent);
    --error: var(--dark-error);
    --error-accent: var(--dark-error-accent);
    --bg: var(--dark-bg);
    --bg-accent: var(--dark-bg-accent);
    --f:var(--dark-f);
    --f-accent:var(--dark-f-accent);

  }
  
  body {
    /* global font styles */
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}
