@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --primary-color : 255, 255, 255;
    --secondary-color : 250 , 250, 250;
    --ternary-color : 210 , 210, 210;
    --text-color : 0, 0, 0;
    background-color: white;
    background-image: url('./assets/login-bg.png');
}

.dark {
    --primary-color : 8,19,29;
    --secondary-color : 31,41,55;
    --ternary-color : 55,65,81;
    --text-color : 255,255,255;
    background-color: #01070d;
    background-image: url('./assets/login-bg_dark.png');
    background-blend-mode: screen;
    
}