.design-block{
    padding: 50px;
    background-color: rgb(38, 39, 39);
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.design-block h1{
    color: aliceblue;

}
.design-block .video{
    
    height: 500px;
}
.design-block h1{
    font-family: popins;
}
#bp {
    width: 100%;
    height: 100%;
}