.design-block{
    padding: 50px;
    background-color: rgb(38, 39, 39);
    display:list-item;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.design-block h1{
    color: aliceblue;
}
.design-block .video{
    height: 400px;
}