

.content{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(38, 39, 39);
}

.vid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-vid video{
    width="60%";
    height="50%";
    
}
